@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;600;700&family=Unbounded:wght@400;500;600;700&display=swap");

.section {
  padding: 6vh 0;
  width: 100%;
}
.mattew {
  // position: relative;
  // padding: 0;
  // height: 100vh;
  // background-color: #23372b;
  // overflow: hidden;

  & .box {
    height: 100vh;
    width: 100%;
    background-color: #415b47;
    // position: absolute;
    // top: 0;
    // left: 0;
  }
  & img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
#one-2,
#two-2,
#three-2,
#four-2 {
  visibility: hidden;
}
// #courses {
//   transform: scaleX(0.3) translateY(20%);
//   opacity: 0;
//   visibility: hidden;
// }
.container {
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 1vw;
  @include tablet {
    padding: 0 16px;
  }
  @include large {
    max-width: 80%;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5vh 6vh;
  background: $orange;

  border-radius: 10vh;
  font-family: "Unbounded", cursive;
  @include font(1.25em, $dark, 700, 1);
  text-align: center;
  box-shadow: 0px 9px 0px #996e1b;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  @include mobile {
    padding: 2vh;
    font-size: 1.1em;
    box-shadow: 0px 4px 0px #996e1b;
  }

  &:hover,
  &:active {
    background-color: $orange;
    color: $dark;
  }
  &:active {
    transform: translateY(9px);
    box-shadow: 0px 0px 0px #996e1b;
  }

  &.transparent {
    background-color: transparent;
    color: $dark;

    &:hover,
    &:active {
      background-color: $dark;
      color: $orange;
    }
  }
  &.disabled {
    opacity: 0.7;
    pointer-events: none;
  }
}
.line {
  overflow: hidden;
}
//hero
.hero {
  height: 90vh;
  padding: 0 0;
  // overflow-y: hidden;
  @include mini {
    height: auto;
  }

  &__container {
    height: 100%;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 3.75fr 1fr;
    gap: 1vh;

    @include tablet {
      grid-template-columns: 1fr 4.5fr 1fr;
      height: 75vh;
      align-items: center;
    }
    @include phablet {
      height: 80vh;
      grid-template-columns: 1fr;
    }
    @include mini {
      display: flex;
      flex-direction: column;
      height: auto;
    }
  }
  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    padding-top: 6vh;
    text-align: center;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 2vh;
    width: 100%;
    padding: 0 5vh;
    visibility: hidden;
    // opacity: 0;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5vh 6vh;
    background: $dark;
    border: 5px solid $orange;
    border-radius: 10vh;
    font-family: "Unbounded", cursive;
    @include font(1.25em, $light, 700, 1);
    text-align: center;
    box-shadow: 0px 9px 0px $dark-orange;
    cursor: pointer;
    transition: 0.1s ease-in-out;

    &:hover,
    &:active {
      background-color: $orange;
      color: $dark;
    }
    &:active {
      transform: translateY(9px);
      box-shadow: 0px 0px 0px $dark-orange;
    }

    @include mobile {
      padding: 2vh;
      font-size: 1.1em;
      border: 2px solid $orange;
      box-shadow: 0px 4px 0px $dark-orange;
    }
  }
  &__title {
    padding: 0 2vh;
    font-family: "Unbounded", cursive;
    @include font(4.2vw, $dark, 700, 1.2);
    letter-spacing: -0.02em;
    text-align: center;
    & span {
      color: $orange;
    }

    @include tablet {
      font-size: 3.25em;
    }
    @include mobile {
      font-size: 2.75em;
    }
    @include mini {
      font-size: 2.25em;
    }
  }
  &__text {
    @include font(1.3em, $dark, 500, 1.64);
    visibility: hidden;
  }
  &__accent {
    // display: inline-flex;
    padding: 1.5vh 2.5vh;
    border: 1px solid $dark;
    border-radius: 1.5vh;
    @include font(1.25em, $dark, 500, 1.1);
    text-transform: lowercase;
    letter-spacing: 0.02em;
    // visibility: hidden;

    @include mini {
      width: 90%;
      padding: 1.5vh 2vh;
    }
  }

  &__video {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(-6.74deg);
  }
  &__video-wrap {
    position: relative;
    height: 115px;
    width: 115px;
    border-radius: 50%;
    border: 6px solid #ffbd40;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;

      mix-blend-mode: hard-light;
      background: linear-gradient(
        180deg,
        rgba(228, 153, 10, 0.73) 0%,
        rgba(119, 79, 2, 0.73) 100%
      );
      z-index: 2;
    }

    &.v-1 {
      transform: translate(150%, 0%);
    }
    &.v-2 {
      height: 135px;
      width: 135px;
      transform: translate(10%, -25%);
    }
    &.v-3 {
      // border: 6px solid #ffbd40;
      transform: translate(125%, -75%);
    }
    &.v-4 {
      height: 120px;
      width: 120px;
      transform: translate(25%, -75%);
    }
    &.v-5 {
      transform: translate(-5%, -75%);
    }
    &.v-6 {
      transform: translate(125%, -100%);
    }
    &.v-7 {
      transform: translate(-20%, 0%);
    }
    &.v-8 {
      transform: translate(115%, -50%);
    }
    &.v-8 {
      transform: translate(115%, -50%);
    }
    &.v-9 {
      height: 145px;
      width: 145px;
      transform: translate(0%, -50%);
    }
    &.v-10 {
      transform: translate(100%, -70%);
    }
    &.v-11 {
      height: 175px;
      width: 175px;
      transform: translate(10%, -40%);
    }
  }
}
.banner {
  height: 70vh;
  background: url(../images/banner.png) 50% no-repeat;
  border-radius: 3vh;
  background-size: cover;
  width: 96%;
  margin: 0 auto 8vh;
  //gsap
  transform: translateY(50%);
  @include tablet {
    height: 50vh;
  }
}
.text-wrap {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  width: 75%;
  margin-left: 8vh;

  @include tablet {
    margin-left: 5vh;
    gap: 3vh;
  }
  @include mobile {
    width: 96%;
    margin-left: 0vh;
  }
}
.title {
  font-family: "Unbounded", cursive;
  @include font(2.2em, $dark, 700, 0.94);
  text-transform: lowercase;
  letter-spacing: -0.02em;
  &.orange {
    color: $orange;
  }

  @include mobile {
    font-size: 1.75em;
  }
}
.text {
  @include font(1.25em, $dark, 500, 1.64);
  text-transform: lowercase;
  letter-spacing: 0.02em;
  &.light {
    color: $ivory;
  }
  @include tablet {
    font-size: 1.1em;
  }
  @include mobile {
    font-size: 1em;
    line-height: 1.4;
  }
  @include large {
    font-size: 1em;
  }
}
.advantages {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3vh;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    justify-content: center;
  }
  @include phablet {
    // grid-template-columns: repeat(3, 1fr);
  }

  &-wrapper {
    padding: 7vh 6vh;
    border-radius: 4vh;
    background-color: $orange;

    @include tablet {
      padding: 3vh;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
    padding: 2.5vh 3vh 4vh;
    gap: 1vh;
    background: $dark;
    border-radius: 20vh;

    //gsap
    opacity: 0.5;
    transform: translateY(30px);

    @include tablet {
      height: 30vh;
      width: 35%;
    }
    @include phablet {
      width: 40%;
      border-radius: 16vh;
    }
    @include mobile {
      width: 96%;
      border-radius: 12vh;
    }

    @include large {
      height: 35vh;
    }
  }

  &__number {
    width: 7vw;
    padding: 2vh 1vh;
    border-radius: 6vh;
    background-color: $orange;
    @include font(3em, $dark, 500, 1.5);
    text-align: center;
    font-feature-settings: "ss03" on;

    @include tablet {
      width: 100px;
    }
    @include phablet {
      width: 80px;
      font-size: 2em;
    }
  }
  &__text {
    @include font(1.1em, $orange, 500, 1.5);
    text-align: center;
    white-space: break-spaces;

    @include tablet {
      font-size: 1.3em;
    }
    @include phablet {
      font-size: 1.2em;
    }
  }
}
.center {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin: 0 auto 3vh;
  text-align: center;

  &.small {
    gap: 4vh;
    width: 50%;

    @include tablet {
      gap: 3vh;
      width: 75%;
    }
    @include mobile {
      gap: 3vh;
      width: 100%;
    }
  }
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.test {
  &-list {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 75%;
    margin: 0 auto 2vh;
    padding: 1vh;
    background-color: $sand;
    border-radius: 2vh;
    border: 1px solid $dark;
    box-shadow: 0px 4px 0px rgba($dark, 0.2);

    @include tablet {
      width: 96%;
    }
  }
  &__title {
    font-family: "Unbounded", cursive;
    margin-bottom: 1vh;
    padding: 1vh;
    @include font(0.9em, $dark, 700, 1);
  }
  &__answers {
    padding: 0.5vh;
  }
  &__answer {
    display: flex;
    align-items: center;
    padding: 1vh;
    gap: 1.5vh;
    @include font(0.8em, $dark, 400, 1);
    border-radius: 1vh;
    border: 1px solid rgba($dark, 0.2);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    opacity: 0.7;

    &.active {
      border-color: rgba($dark, 0.5);
      opacity: 1;

      & > .test__check {
        border-color: rgba($dark, 0.8);
        background: rgba($dark, 0.8);
        outline: $sand solid 2px;
        outline-offset: -4px;

        @include large {
          outline: $sand solid 5px;
          outline-offset: -10px;
        }
      }
    }

    &:hover,
    &:active {
      border-color: $dark;
    }
  }

  &__check {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid rgba($dark, 0.5);

    @include large {
      width: 1.1vw;
      height: 1.1vw;
    }
  }
}
.slider {
  display: flex;
  justify-content: center;
  gap: 1.5vh;
  overflow-x: auto;
  padding: 0 1vw 6vh;

  &__item {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 2.5vh;
    width: 340px;
    padding: 1.5vh;
    background: $sand;
    border: 1px solid rgba($dark, 0.23);
    border-radius: 3vh;
    box-shadow: 0px 5px 0px rgba($dark, 0.2);

    @include mobile {
      width: 300px;
    }
    @include large {
      width: 20%;
    }
  }
  &__img {
    width: 100%;
    height: 320px;
    border-radius: 2vh;
    object-fit: cover;
    @include mobile {
      height: 280px;
    }
  }
  &__title {
    font-family: "Unbounded", cursive;
    @include font(1.15em, $dark, 700, 1);
  }
  &__text {
    @include font(0.9em, $dark, 500, 1.5);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 85%;
  margin: 0 auto;

  @include phablet {
    width: 100%;
  }

  &-wrapper {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 10vh;
    background: linear-gradient(180deg, $dark 0%, $dark 100%);
    box-shadow: 0px 4px 0px 7px $dark-orange;
    border-radius: 4vh;

    @include tablet {
      padding: 5vh;
    }
    @include mobile {
      padding: 5vh 2vh;
    }
    @include large {
      max-width: 70%;
    }
  }

  &__input {
    height: 80px;
    width: 100%;
    padding: 10px 40px;
    border: 1px solid rgba(255, 240, 212, 0.3);
    border-radius: 2vh;
    background: transparent;
    @include font(1.5em, $ivory, 600, 1);
    transition: 0.3s ease-in-out;

    &--select {
      appearance: none;
    }

    @include mobile {
      height: 44px;
      padding: 8px 16px;
      font-size: 1em;
    }
    @include large {
      height: 2.5vw;
      padding: 1vh 2vw;
      font-size: 1em;
    }

    &::placeholder {
      color: rgba($ivory, 0.3);
    }

    &:focus {
      border-color: $orange;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    gap: 3vh;

    @include mobile {
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
  }
  &__icon {
    width: 30px;
    height: 30px;

    @include large {
      width: 2vw;
      height: 2vw;
    }
  }
}
.select {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    width: 14px;
    height: 14px;
    background: url(../images/arrow.svg) no-repeat;
    background-position: 100% 0%;
    background-size: contain;
    transform: translateY(-50%);

    @include large {
      right: 1.5vw;
      width: 1vw;
      height: 1vw;
    }
  }
}
.error {
  @include font(0.75em, #e49274, 400, 1.2);
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  width: 100%;
  max-width: 700px;
  padding: 4vh;
  margin: 0 auto;
  background: $dark;
  border-radius: 6vh;
  transform: rotate(-4.1deg);

  @include tablet {
    max-width: 800px;
    padding: 3vh;
  }
  @include large {
    max-width: 60%;
  }
}
