@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;600;700&display=swap");

.section {
  padding: 6vh 0;
  width: 100%;
}
.container {
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 1vw;
  @include tablet {
    padding: 0 16px;
  }
  @include large {
    max-width: 80%;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5vh 6vh;
  background: $dark;
  border: 1px solid $dark;
  border-radius: 2vh;
  @include font(1.25em, $ivory, 700, 1);
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover,
  &:active {
    background-color: $orange;
    color: $dark;
  }

  &.transparent {
    background-color: transparent;
    color: $dark;

    &:hover,
    &:active {
      background-color: $dark;
      color: $orange;
    }
  }
}

//hero
.hero {
  height: 90vh;
  padding: 0 0;

  overflow-y: hidden;
  &__container {
    height: 100%;
  }

  &__inner {
    height: 82vh;
    display: grid;
    grid-template-columns: 1fr 3.75fr 1fr;
    gap: 1vh;
  }
  &__center {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    gap: 5vh;
    padding-top: 4vh;
    text-align: center;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 2vh;
    width: 100%;
    padding: 0 5vh;
  }
  &__title {
    padding: 0 2vh;
    @include font(4.2vw, $dark, 700, 1);
    letter-spacing: -0.02em;
    text-align: center;
    & span {
      color: $orange;
    }
  }
  &__text {
    @include font(1.3em, $dark, 500, 1.64);
  }
  &__accent {
    display: inline-flex;
    padding: 1.5vh 2.5vh;
    border: 1px solid $dark;
    border-radius: 1.5vh;
    @include font(1.25em, $dark, 500, 1.1);
    text-transform: lowercase;
    letter-spacing: 0.02em;
  }

  &__video {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(-6.74deg);
  }
  &__video-wrap {
    position: relative;
    height: 115px;
    width: 115px;
    border-radius: 50%;
    border: 6px solid #ffbd40;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;

      mix-blend-mode: hard-light;
      background: linear-gradient(
        180deg,
        rgba(228, 153, 10, 0.73) 0%,
        rgba(119, 79, 2, 0.73) 100%
      );
      z-index: 2;
    }

    &.v-1 {
      transform: translate(150%, 0%);
    }
    &.v-2 {
      height: 135px;
      width: 135px;
      transform: translate(10%, -25%);
    }
    &.v-3 {
      // border: 6px solid #ffbd40;
      transform: translate(125%, -75%);
    }
    &.v-4 {
      height: 120px;
      width: 120px;
      transform: translate(25%, -75%);
    }
    &.v-5 {
      transform: translate(-5%, -75%);
    }
    &.v-6 {
      transform: translate(125%, -100%);
    }
    &.v-7 {
      transform: translate(-20%, 0%);
    }
    &.v-8 {
      transform: translate(115%, -50%);
    }
    &.v-8 {
      transform: translate(115%, -50%);
    }
    &.v-9 {
      height: 145px;
      width: 145px;
      transform: translate(0%, -50%);
    }
    &.v-10 {
      transform: translate(100%, -70%);
    }
    &.v-11 {
      height: 175px;
      width: 175px;
      transform: translate(10%, -40%);
    }
  }
}
.banner {
  width: 100%;
  height: 70vh;
  background: url(../images/banner.png) 50% no-repeat;
  border-radius: 3vh;
  background-size: cover;
  width: 96%;
  margin: 0 auto 6vh;
}
.text-wrap {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 75%;
  margin-left: 8vh;
}
.title {
  @include font(2.2em, $dark, 700, 0.94);
  text-transform: lowercase;
  letter-spacing: -0.02em;
}
.text {
  @include font(1.25em, $dark, 500, 1.64);
  text-transform: lowercase;
  letter-spacing: 0.02em;
}
.advantages {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3vh;
  padding: 7vh 6vh;
  border-radius: 4vh;
  background-color: $orange;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
    padding: 2.5vh 3vh 4vh;
    gap: 4px;
    background: $dark;
    border-radius: 18vh;
  }

  &__number {
    width: 6vw;
    padding: 2vh;
    border-radius: 4vh;
    background-color: $orange;
    @include font(2em, $dark, 500, 1.5);
    text-align: center;
    font-feature-settings: "ss03" on;
  }
  &__text {
    @include font(1.1em, $orange, 500, 1.5);
    text-align: center;
  }
}
.center {
  margin-bottom: 3vh;
  text-align: center;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.card {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2vh;
  padding: 3vh;
  background: #7bb2d9;
  box-shadow: 0px 8px 0px #48799c;
  border-radius: 3vh;
  margin: 5vh 0;

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5vh;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vh;
  }
  &__right {
    padding: 2.5vh;
    background-color: $dark;
    border-radius: 2.5vh;
  }
  &__row {
    display: flex;
    align-items: center;
    gap: 1vh;
    padding-bottom: 1.7vh;
  }
  &__bottom {
    display: flex;
    gap: 1vh;
    flex: 1;
    align-items: flex-end;
  }
  &__accent {
    padding: 1.4vh 2vh;
    border-radius: 2vh;
    @include font(1.1em, $dark, 700, 1);
    border: 1px solid $dark;
  }
  &__date {
    padding: 1.4vh 2vh;
    border-radius: 2vh;
    background-color: $dark;
    @include font(1.5em, #7bb2d9, 600, 1);
  }
  &__icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
  }
  &__subtitle {
    padding-bottom: 2.1vh;
    @include font(1.5em, #7bb2d9, 600, 1.5);
  }
  &__text {
    @include font(1em, #7bb2d9, 500, 1.5);
  }
  &__buttons {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 1vh;
    margin-top: 1vh;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    padding: 1.8vh 2vh;
    border-radius: 1.4vh;
    border: 1px solid #7bb2d9;
    @include font(1em, #7bb2d9, 600, 1);

    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover,
    &:active {
    }

    &.accent {
      background-color: #7bb2d9;
      border: 1px solid $dark;
      @include font(1em, $dark, 600, 1);
      &:hover,
      &:active {
      }
    }
  }
}
